[submodule "py-windfreak"]
	path = py-windfreak
	url = git://github.com/nacs-lab/py-windfreak.git
[submodule "yyc-data"]
	path = yyc-data
	url = git://github.com/nacs-lab/yyc-data.git
[submodule "enclosure"]
	path = enclosure
	url = git://github.com/nacs-lab/enclosure.git
